/*  CS601 Assignment 2
    W. Alex Wikiel
    Education Style Page  */
/* *{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
} */

section{
    width: 80%;
    margin: auto;
    padding-top: 100px;
    text-align: center;
    fill: aqua;
}

section p{
    text-align: left;
}

section h2{
    margin-top: 15px;
    margin-top: 30px;
    margin-bottom: 20px;
 }

section ul{
    flex:1;
    text-align:center
}

section ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    cursor: pointer;
}

section ul li a{
    text-decoration: none;
    vertical-align:middle;
    z-index: 2;
}



.layer1 {
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
    border-radius: 10px;
}
.layer1:hover{
    background: rgba(190, 211, 236, 0.5);
}