/*  CS601 Term
    W. Alex Wikiel
    Education Style Page  */

section{
    width: 80%;
    margin: auto;
    padding-top: 100px;
    text-align: center;
}

section h2{
    margin-top: 15px;
    margin-top: 30px;
    margin-bottom: 20px;
 }

section p{
    text-align: left;
}

section ul{
    text-align:center
}

section ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    cursor: pointer;
}

section ul li a{
    text-decoration: none;
    /* vertical-align:middle; */
}

.layer1 {
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
    border-radius: 10px;
}
.layer1:hover{
    background: var(--contrast);
    opacity: 35%;
}