/*  CS601 Term
    W. Alex Wikiel
    Favorite Style Page  */

section{
    width: 80%;
    margin: auto;
    text-align: center;
    margin-top: 4em;
}

section p{
    text-align: left;
}

section h2{
    margin-top: 1em;
    margin-bottom: 1em;
}

section ul{
    margin-top: 2em;
    text-align:center;
}

section ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    border-radius: 10px;
}

section ul li a{
    text-decoration: none;
    vertical-align:top;
    width: 200px;
}

section ul li a img{
    width: 100px;
}

.layer1 {
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
    border-radius: 10px;
}
.layer1:hover{
    background: var(--contrast);
    opacity: 35%;
}

video{
    margin: auto;
    border-radius: 10px;
    border: 1px solid rgb(22, 22, 22);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
    Width: auto;
}