/*  CS601 Term
    W. Alex Wikiel
    Interests Style Page  */

section{
    width: 80%;
    margin: auto;
    padding-top: 4em;
    text-align: center;
}

section h2{
    margin-top: 1em;
    margin-bottom: 1em;
}

section p{
    text-align: left;
}

.tacos{
    padding-top: 2em;
    align-items: center;
}

.tacos p{
    text-align: center;
}

.tacos a:hover{
    color: var(--fontlight);
    background: var(--contrast);
    opacity: 35%;
    border-radius: 2px;
}

.tacos figure{
    margin-top: 2em;
}

.tacos img{
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
}

figure{
    margin-top: 30px;
    text-align: center;
}

aside{
    width: 40%;
    padding-left: 10%;
    float: right;
}
aside > p {
    margin: .5rem;
    text-align: center;
}

.beertable{
    padding:5px;
    border: 2px solid #718aa7;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
}
.beertable tr{
    padding:50px;
}

.beertable tr td{
    padding: 0 20px;
}

.btn_change  {
    margin-bottom: 0.5em;
}

button {
    margin-top: 1em;
    padding: .5em 1em;
    border: solid 1px var(--font);
    border-radius: 6px;
    color: white;
    background-color:cornflowerblue;
}

button:hover {
    background-color: gainsboro;
    color: cornflowerblue;
}

@media(max-width: 410px){
    aside{
        float: none;
        padding:0;
        width: 100%;
    }
    .beertable{
        border: 2px solid #718aa7;
        border-radius: 10px;
        font-size: 12px;
        box-shadow: none;
    }
    .beertable tr td{
        padding: 0 10px;
    }
}
