/*  CS601 Term
    W. Alex Wikiel
    News Style Page  */

section {
    width: 80%;
    margin: auto;
    padding-top: 5em;
    text-align: center;
}

.blog {
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    background-color: var(--secondary);
    padding: 25px;
    width: 100%;
    display: inline-block;
}
.blog figure {
    background-color: var(--secondary);
}

.blog img {
    /* height: 120px; */
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 10px;
    width: 300px;
    height: auto;
}

.blog div{
    background-color: var(--secondary);
}

.blog h2 {
    margin-top: 15px;
    text-align: Left;
    background-color: var(--secondary);
}

.blog p {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0;
    font-size: 15px;
    background-color: var(--secondary);
}

@media(max-width: 950px){
    .blog img{ 
        width: 80%;
    }
    h2 {
        font-size: 15px;
    }

    p {
        font-size: 12px;
    }
}