/*  CS601 Term
    W. Alex Wikiel
    Personal Life Style Page  */

section{
    width: 70%;
    margin: auto;
    padding-top: 5em;
}

section

section p{
    text-align: left;
}

section a:hover{
    color: var(--fontlight);
    background: var(--contrast);
    opacity: 35%;
    border-radius: 2px;
}

section h2{
    margin-bottom: 1em; 
    text-align: center;
}

figure{
    margin-top: 2em;
    text-align: center;
}

figure figcaption {
    margin-top: 2em;
}
figure img{
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
}