/*  CS601 Term Project
    W. Alex Wikiel
    Template Style Page
    Shared by all pages  */

:root {
    --primary: #fff;
    --secondary: rgb(186, 206, 231);
    --font: rgb(53, 51, 51);
    --fontlight: rgb(228, 228, 228);
    --contrast: rgb(125,107,145) ;
}

/* apply to all */
*{
    margin:0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: var(--primary);
    color: var(--font);
    font-weight: 300;
}


/*-------------HEADER-----------*/
/* setup background image*/
header {
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,0.2)),url(../images/beach.jpg);
    /* image obtained at https://www.planetware.com/pictures/kenya-ken.htm */
    background-position: center;
    background-size: cover;
    position: relative;
}

.greeting {
    position: relative;
    left:50%;
    transform: translate(-50%,0%);
    text-align: center;
    background: transparent
}

.greeting h1{
    font-size: 62px;
    background: transparent;
    color: var(--fontlight);
    font-weight: 500;
}
.greeting p{
    font-size: 30px;
    color: #fff;
    background: transparent;
    color: var(--fontlight)
}

/*-------------FOOTER-----------*/

footer{
    margin-top: 100px;
    text-align: center;
}

footer h3{
    padding: 10px;
}
footer img{
    padding: 10px;
}

@media(max-width: 1040px){
    .greeting{
        top: 50%;
    }
    .greeting h1{
        font-size: 42px;
    }
    .greeting p{
        font-size: 20px;
        color: #fff;
    }
}

@media(max-width: 410px){

    header{
        min-height: 0vh;
        background-image: none;
    }
    .greeting{
        top: 0;
    }

    footer{
        font-size: 10px;
    }
}